/* header */
#header
{
    background-color: black;
    height: 10%;
    font-size: 30pt;
    text-align: center;
    padding-top: 20px;
    color: white;
}
/* gambar header */
#header img
{
    width: 100%;
    height: 9%;
}
/* sidebar */
#sidebar
{
    background-color: black;
    background-image: url(Images/background/side\ bar.png);
    background-repeat: no-repeat;
    float: left;
    height: 1040px;
    width: 30%;
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    color: white;
}
#sidebar ul
{
    float: left;
    color: white;
}
/* menu primer */
#menu
{
    background-color: rgb(14, 10, 10);
    float: right;
    width: 70%;
    height: 40px;
    font-size: 1em;
    text-align: center;
}
#menu ul li
{
    float: left;
    display: block;
    padding-inline:10px;
    padding-left: 20px;
}
/* content */
#content
{
    background-color: grey;
    float: right;
    width: 70%;
    height:1000px;
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    overflow: auto;

}
/* header content */
#content ul li
{
    float: unset;
    display: unset;
    padding: 5px;
    border:unset;
    font-size: 0.5em;
}
#content img
{
    width: 6cm;
}
#content ul li img
{
    width: 30%;
}
#content h3
{
    color: white;
    font-size: 17pt;
}
#content p
{
    color: #313030
}
/* footer */
#footer
{
    background-color: black;
    clear: both;
    font-size: 1.5em;
    text-align: left;
    color: white;

}
#footer img
{
    width: 1.5em;
    height: 1.5em;
    float: left;
}
/* lain-lain */
a
{
    color: white;
}